@model LiteCommerce.Admin.Models.ShipperPaginationResult
@{
    ViewBag.Title = "Manage Shipper";
    int i = 0;
}
<div class="box box-primary">

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <form action="~/catalogshippers" method="get">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control" placeholder="Input search value...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
</div>
<div class="container-fluid row" style="padding-bottom:10px">
    <div class="col-sm-8">
        there are <b>@Model.RowCount</b>  Shipper. Page @Model.Page/@Model.PageCount
    </div>
    <div class="col-sm-4 text-right">
        <div class="btn-group">
            <a href="~/catalogshippers/Input" class="btn btn-sm btn-primary">Add Shipper </a>
            <button type="button" class="btn btn-sm btn-danger">Delete Shipper</button>

        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th style="width:30px">
                        <input type="checkbox" />
                    </th>
                    <th style="width:50px">
                        #
                    </th>
                    <th style="width:250px">
                        Compay Name
                    </th>
                    <th style="width:300px">
                        Phone
                    </th>
                    <th style="width:80px">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr class="even" role="row">
                        <td class="sorting_1">
                            <input type="checkbox" />
                        </td>
                        <td>@(++i)</td>
                        <td>

                            <span style="color:#646464; font-weight:bold">
                                @item.CompanyName
                            </span>
                        </td>

                        <td>
                            <span style="display:block"><i class="fa fa-phone" style="padding-right:5px"></i>@item.Phone</span>

                        </td>
                        <td class="text-right">

                            <a class="btn btn-sm btn-default" href="~/catalogshippers/Input/@i">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>}

            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="~/catalogshippers?page=1">«</a></li>
            @for (int page = 1; page <= Model.PageCount; page++)
            {
                <li><a href="~/catalogshippers?page=@page">@page</a></li>
            }
            <li><a href="~/catalogshippers?page=@Model.PageCount">»</a></li>
        </ul>
    </div>
</div>





