@model LiteCommerce.Admin.Models.SupplierPaginationResult
@{
    ViewBag.Title = "Manage suppliers";
    int i = 0;
    
}
<div class="box box-primary">
 
    <!-- /.box-header -->
    <!-- form start -->
    <form action="~/CatalogSuppliers" method="get">
        <div class="box-body">
            <div class="input-group input-group-sm">

                <input type="text" class="form-control" name="searchValue" placeholder="input searh...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>


            </div>
        </div>
    </form>
    <!-- /.box-body -->
</div>
<div class="container-fluid row" style="padding-bottom:10px">
    <div class="col-sm-8">
        there are <b>@Model.RowCount</b>  suppliers. Page @Model.Page/@Model.PageCount
    </div>
    <div class="col-sm-4 text-right">
        <div class="btn-group">
            <a href="~/catalogsuppliers/Input" class="btn btn-sm btn-primary">Add suppliers</a>
            <button type="button" class="btn btn-sm btn-danger">Delete suppliers</button>
   
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th style="width:30px">
                        <input type="checkbox" />
                    </th>
                    <th style="width:50px">
                        #
                    </th>
                    <th style="width:250px">
                        name
                    </th>
                    <th style="width:300px">
                        Address
                    </th>
                    <th style="width:auto">
                        Comtact info
                    </th>
                    <th style="width:80px">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model.Data)
                { 
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>@(++i)</td>
                    <td>
                        <span style="color:#0094ff; font-weight:bold; display:block">@item.CompanyName</span>
                        <span style="color:#646464">
                            @item.ContactName
                        </span>
                        <span style="color:#646464; font-weight:bold">
                            @item.ContactTitle
                        </span>
                    </td>
                    <td>
                        <span>@item.Address</span>
                        <span>@item.Country - @item.City</span>
                    </td>
                    <td>
                        <span style="display:block"><i class="fa fa-phone" style="padding-right:5px"></i>@item.Phone</span>
                        <span style="display:block"><i class="fa fa-fax" style="padding-right:5px"></i>@item.Fax</span>
                        <span style="display:block"><i class="fa fa-link" style="padding-right:5px"></i>@item.Homepage</span>
                    </td>
                    <td class="text-right">
       
                        <a class="btn btn-sm btn-default" href="~/catalogsuppliers/Input/@(i)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>}
                
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="~/CatalogSuppliers?page=1">«</a></li>
            @for (int page = 1; page <= Model.PageCount; page++)
            {
                <li><a href="~/CatalogSuppliers?page=@page">@page</a></li>
            }
            <li><a href="~/CatalogSuppliers?page=@Model.PageCount">»</a></li>
        </ul>
    </div>
</div>


