@model LiteCommerce.DomainModels.Employee
@{

}
<div class="box box-success">
    <div class="box-header with-border">
        <h5 class="box-title pull-right">
            <a href="~/Employees">
                back
            </a>
        </h5>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form role="form">
            <!-- text input -->
            <!-- textarea -->
            <!-- input states -->
            <div style="display:flex">
                @if (Model.EmployeeID == 0)
                {

                }
                else
                {
                    <div class="form-group" style="margin-right:10px; width:540px">
                        <label class="control-label" for="inputWarning">
                            <i class="fa fa-address-card-o"></i>EmployeeID
                        </label>
                        <input type="text" class="form-control" id="inputWarning" placeholder="EmployeeID ..." value="@Model.EmployeeID">
                    </div>
                }

                <div class="form-group" style="margin-right:10px; width:540px">
                    <label class="control-label" for="inputWarning">
                        <i class="fa fa-address-card-o"></i>First Name
                    </label>
                    <input type="text" class="form-control" id="inputWarning" placeholder="First Name ..." value="@Model.FirstName">
                </div>
                <div class="form-group " style="width:550px">
                    <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i>Last title
                    </label>
                    <input type="text" class="form-control" id="inputError" placeholder="Last name ..." value="@Model.LastName">

                </div>
            </div>
            <div class="form-group ">
                <label class="control-label" for="inputError">
                    <i class="fa fa-map-marker"></i> title
                </label>
                <input type="text" class="form-control" id="inputError" placeholder="title ..." value="@Model.Title">

            </div>
            <div class="form-group ">
                <label class="control-label" for="inputError">
                    <i class="fa fa-map-marker"></i> address
                </label>
                <input type="text" class="form-control" id="inputError" placeholder="address ..." value="@Model.Address">

            </div>
            <div class="form-group ">
                <label class="control-label" for="inputError">
                    <i class="fa fa-map-marker"></i> Email
                </label>
                <input type="text" class="form-control" id="inputError" placeholder="Email ..." value="@Model.Email">

            </div>
            <div class="form-group">
                <label>Date:</label>

                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="datetime" class="form-control pull-right" id="datepicker" value="@Model.BirthDate">
                </div>
                <!-- /.input group -->
            </div>
            <div style="display:flex">
                <div class="form-group" style="margin-right:10px; width:540px">
                    <i class="fa fa-globe"></i>
                    <label>Country</label>
                    <select class="form-control" name="Country">
                        @foreach (var item in SelectListHelper.ListOfCountries())
                        {
                            if (item.Value == Model.Country)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                            if (item.Value != Model.Country)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group " style="width:550px">
                    <label class="control-label" for="inputError">
                        <i class="fa fa-building-o"></i> City
                    </label>
                    <input type="text" class="form-control" id="inputError" placeholder="City ..." value="@Model.City">

                </div>
            </div>
            <div class="form-group ">
                <label class="control-label" for="inputError">
                    <i class="fa fa-map-marker"></i> Email
                </label>
                <input type="text" class="form-control" id="inputError" placeholder="Email ..." value="@Model.Email">

            </div>
            <div class="form-group">
                <label>Hire Date:</label>

                <div class="input-group date">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="datetime" class="form-control pull-right" id="datepicker" value="@Model.HireDate">
                </div>
                <!-- /.input group -->
            </div>
            <div style="display:flex">
                <div class="form-group" style="margin-right:10px; width:540px">
                    <label class="control-label" for="inputError">
                        <i class="glyphicon glyphicon-phone"></i>HomePhone
                    </label>
                    <input type="text" class="form-control" id="inputError" placeholder="HomePhone ..." value="@Model.HomePhone">

                </div>
                <div class="form-group" style="width:550px">
                    <label class="control-label" for="inputError">
                        <i class="fa fa-fax"></i>Notes
                    </label>
                    <input type="text" class="form-control" id="inputError" placeholder="Notes ..." value="@Model.Notes">

                </div>
            </div>

            <div class="form-group ">
                <label class="control-label" for="inputError">
                    <i class="glyphicon glyphicon-link"></i> Photo Path
                </label>
                <input type="text" class="form-control" id="inputError" placeholder="Photo Path ..." value="@Model.PhotoPath">

            </div>
            <div class="form-group ">
                <label class="control-label" for="inputError">
                    <i class="glyphicon glyphicon-link"></i> Pass Word
                </label>
                <input type="text" class="form-control" id="inputError" placeholder="Pass Word ..." value="@Model.Password">

            </div>

            <!-- checkbox -->
            <!-- radio -->
            <!-- select -->
            <!-- Select multiple-->

            <button type="submit" class="btn btn-default pull-left">Save</button>
            <button type="submit" class="btn btn-default pull-left">Cancel</button>
        </form>
    </div>
    <!-- /.box-body -->
</div>
