@model LiteCommerce.Admin.Models.CustomerPaginationResult
@{
    ViewBag.Title = "Manage Customers ";
    int i = 0;
}
<div class="box box-primary">

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <form action="~/catalogcustomers" method="get">
            <div class="input-group input-group-sm">
                <input type="text" name="searchValue" class="form-control" placeholder="Input search value...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
</div>
<div class="container-fluid row" style="padding-bottom:10px">
    <div class="col-sm-8">
        there are <b>@Model.RowCount</b>  Customers. Page @Model.Page/@Model.PageCount
    </div>
    <div class="col-sm-4 text-right">
        <div class="btn-group">
            <a href="~/catalogcustomers/Input" class="btn btn-sm btn-primary">Add Customers</a>
            <button type="button" class="btn btn-sm btn-danger">Delete Customers</button>

        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    <th style="width:30px">
                        <input type="checkbox" />
                    </th>
                    <th style="width:50px">
                        #
                    </th>
                    <th style="width:250px">
                        name
                    </th>
                    <th style="width:300px">
                        Address
                    </th>
                    <th style="width:auto">
                        Comtact info
                    </th>
                    <th style="width:80px">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>@(++i)</td>
                        <td>
                            <span style="color:#0094ff; font-weight:bold; display:block">@item.CompanyName</span>
                            <span style="color:#646464">
                                @item.ContactName
                            </span>
                            <span style="color:#646464; font-weight:bold">
                                @item.ContactTitle
                            </span>
                        </td>
                        <td>
                            <span>@item.Address</span>
                            <span>@item.City - @item.Country</span>
                        </td>
                        <td>
                            <span style="display:block"><i class="fa fa-phone" style="padding-right:5px"></i>@item.Phone</span>
                            <span style="display:block"><i class="fa fa-fax" style="padding-right:5px"></i>@item.Fax</span>
                 
                        </td>
                        <td class="text-right">

                            <a class="btn btn-sm btn-default" href="~/catalogcustomers/Input/@item.CustomerID">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>}

            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="~/CatalogCustomers?page=1&searchValue=@Model.SearchValue">«</a></li>
            @for (int page = 1; page < Model.PageCount; page++)
            {
                <li><a href="~/CatalogCustomers?page=@page&searchValue=@Model.SearchValue">@page</a></li>
            }
            <li><a href="~/CatalogCustomers?page=@Model.PageCount&searchValue=@Model.SearchValue">»</a></li>
        </ul>
    </div>
</div>



