@model LiteCommerce.DomainModels.Customer
@{

}
<div class="box box-success">
    <div class="box-header with-border">
        <h5 class="box-title pull-right">
            <a href="~/catalogcustomers">
                back
            </a>
        </h5>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form role="form">
            <!-- text input -->
            <!-- textarea -->
            <!-- input states -->
            <div class="form-group ">
                <label class="control-label" for="inputSuccess"><i class="fa fa-building"></i>CutomerID</label>
                <input type="text" class="form-control" id="inputSuccess" placeholder="Cutomer ID ..." value="@Model.CustomerID">
            </div>
            <div class="form-group ">
                <label class="control-label" for="inputSuccess"><i class="fa fa-building"></i> Company Name</label>
                <input type="text" class="form-control" id="inputSuccess" placeholder="Company Name ..." value="@Model.CompanyName">
            </div>
            <div style="display:flex">
                <div class="form-group" style="margin-right:10px; width:540px">
                    <label class="control-label" for="inputWarning">
                        <i class="fa fa-address-card-o"></i>Contact Name
                    </label>
                    <input type="text" class="form-control" id="inputWarning" placeholder="Contact Name ..."  value="@Model.ContactName">
                </div>
                <div class="form-group " style="width:550px">
                    <label class="control-label" for="inputError">
                        <i class="fa fa-times-circle-o"></i> Contact title
                    </label>
                    <input type="text" class="form-control" id="inputError" placeholder="Contact title ..." value="@Model.ContactName">

                </div>
            </div>

            <div class="form-group ">
                <label class="control-label" for="inputError">
                    <i class="fa fa-map-marker"></i> Address
                </label>
                <input type="text" class="form-control" id="inputError" placeholder="address ..." value="@Model.Address">

            </div>
            <div style="display:flex">
                <div class="form-group" style="margin-right:10px; width:540px">
                    <i class="fa fa-globe"></i>
                    <label>Country</label>

                    <select class="form-control" name="Country">
                        <option>-- Choose Country --</option>
                        @foreach (var item in SelectListHelper.ListOfCountries())
                        {
                            if (item.Value == Model.Country)
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group " style="width:550px">
                    <label class="control-label" for="inputError">
                        <i class="fa fa-building-o"></i> City
                    </label>
                    <input type="text" class="form-control" id="inputError" placeholder="City ..." value="@Model.City">

                </div>
            </div>

            <div style="display:flex">
                <div class="form-group" style="margin-right:10px; width:540px">
                    <label class="control-label" for="inputError">
                        <i class="glyphicon glyphicon-phone"></i> Phone
                    </label>
                    <input type="text" class="form-control" id="inputError" placeholder="Phone ..." value="@Model.Phone">

                </div>
                <div class="form-group" style="width:550px">
                    <label class="control-label" for="inputError">
                        <i class="fa fa-fax"></i> Fax
                    </label>
                    <input type="text" class="form-control" id="inputError" placeholder="Fax ..." value="@Model.Fax">

                </div>
            </div>

            <!-- checkbox -->
            <!-- radio -->
            <!-- select -->
            <!-- Select multiple-->

            <button type="submit" class="btn btn-default pull-left">Save</button>
            <button type="submit" class="btn btn-default pull-left">Cancel</button>
        </form>
    </div>
    <!-- /.box-body -->
</div>
