@model LiteCommerce.Admin.Models.OrderPaginationResult
@{
    ViewBag.Title = "Order";
    int i = 0;
}
<h2>@ViewBag.TiTle</h2>
<div class="box box-primary">

    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div class="box-body">
            <form action="~/order" method="get">
                <div class="input-group input-group-sm">
                    <input type="text" name="searchValue" class="form-control" placeholder="Input search value..."
                           value="@Model.SearchValue">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- /.box-body -->
</div>
<form action="~/Order/Delete" , method="post">
    <div class="container-fluid row" style="padding-bottom:10px">
        <div class="col-sm-8">
            There are <b>@Model.RowCount</b> order. Page @Model.Page/@Model.PageCount
        </div>
        <div class="col-sm-4 text-right">
            <div class="btn-group">
                <a href="~/Order/Input" class="btn btn-sm btn-primary">Add Order</a>
                <button type="submit" class="btn btn-sm btn-danger" name="method" value="delete">Delete Order</button>

            </div>
        </div>
    </div>
    <div class="box box-success">
        <div class="box-body">
            <table class="table table-bordered table-hover dataTable">
                <thead>
                    <tr>
                        <th style="width:30px">
                            <input type="checkbox" />
                        </th>
                        <th style="width:50px">
                            #
                        </th>
                        <th style="width:150px">
                            Customer
                        </th>
                        <th style="width:150px">
                            Employee
                        </th>
                        <th style="width:auto">
                            OrderDate
                        </th>
                        <th style="width:auto">
                            RequiredDate
                        </th>
                        <th style="width:auto">
                            Customer Address
                        </th>
                        <th style="width:80px">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>
                                <input type="checkbox"  name="orderIDs" value="@item.OrderID" />
                            </td>
                            <td>@(++i)</td>
                            <td>
                                <span style="color:#646464">
                                    @item.CustomerID
                                </span>
                            </td>
                            <td>
                                <span style="color:#646464; font-weight:bold">
                                    @item.EmployeeID
                                </span>
                            </td>
                            <td>
                                <span>
                                    @item.OrderDate
                                </span>
                            </td>
                            <td>
                                <span>
                                    @item.RequiredDate
                                </span>
                            </td>
                            <td>
                                <span>@item.ShipAddress</span>
                                <span style="color:#646464; font-weight:bold">@item.ShipCity - @item.ShipCountry</span>
                            </td>
                            <td class="text-right">
                                <a class="btn btn-sm btn-default" href="~/order/Input/@item.OrderID">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>}

                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="~/order?page=1&searchValue=@Model.SearchValue">«</a></li>
                @for (int page = 1; page <= Model.PageCount; page++)
                {
                    <li><a href="~/order?page=@page&searchValue=@Model.SearchValue">@page</a></li>
                }
                <li><a href="~/order?page=@Model.PageCount&searchValue=@Model.SearchValue">»</a></li>
            </ul>
        </div>
        </form>
    </div>
